ARCHIVIST_Telegram__BotToken=<specify>
ARCHIVIST_Telegram__WebhookSecret=<specify>

ARCHIVIST_AUTH_BOOTSTRAP_PASSWORD=<specify>

ARCHIVIST_JINA_API_KEY=<specify>
ARCHIVIST_LLM_API_KEY=<specify>

ARCHIVIST_SNAPSHOTTER_S3_ENDPOINT_URL=<specify>
ARCHIVIST_SNAPSHOTTER_S3_REGION=<specify>
ARCHIVIST_SNAPSHOTTER_S3_BUCKET=<specify>
ARCHIVIST_SNAPSHOTTER_S3_ACCESS_KEY_ID=<specify>
ARCHIVIST_SNAPSHOTTER_S3_SECRET_ACCESS_KEY=<specify>
ARCHIVIST_SNAPSHOTTER_OBJECT_PREFIX=

ARCHIVIST_OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4318
ARCHIVIST_OTEL_EXPORTER_OTLP_AUTHORIZATION=
